

#aggregator .feed-source .feed-title{margin-top:0;}#aggregator .feed-source .feed-image img{margin-bottom:0.75em;}#aggregator .feed-source .feed-icon{float:right;
  display:block;}#aggregator .feed-item{margin-bottom:1.5em;}#aggregator .feed-item-title{margin-bottom:0;font-size:1.3em;}#aggregator .feed-item-meta,#aggregator .feed-item-body{margin-bottom:0.5em;}#aggregator .feed-item-categories{font-size:0.9em;}#aggregator td{vertical-align:bottom;}#aggregator td.categorize-item{white-space:nowrap;}#aggregator .categorize-item .news-item .body{margin-top:0;}#aggregator .categorize-item h3{margin-bottom:1em;margin-top:0;}

.node-unpublished{background-color:#fff4f4;}.preview .node{background-color:#ffffea;}#node-admin-filter ul{list-style-type:none;padding:0;margin:0;width:100%;}#node-admin-buttons{float:left;
  margin-left:0.5em;
  clear:right;}td.revision-current{background:#ffc;}.node-form .form-text{display:block;width:95%;}.node-form .container-inline .form-text{display:inline;width:auto;}.node-form .standard{clear:both;}.node-form textarea{display:block;width:95%;}.node-form .attachments fieldset{float:none;display:block;}.terms-inline{display:inline;}

.poll .bar{height:1em;margin:1px 0;background-color:#ddd;}.poll .bar .foreground{background-color:#000;height:1em;float:left;}.poll .links{text-align:center;}.poll .percent{text-align:right;}.poll .total{text-align:center;}.poll .vote-form{text-align:center;}.poll .vote-form .choices{text-align:left;
  margin:0 auto;display:table;}.poll .vote-form .choices .title{font-weight:bold;}.node-form #edit-poll-more{margin:0;}td.poll-chtext{width:80%;}td.poll-chvotes .form-text{width:85%;}


fieldset{margin-bottom:1em;padding:.5em;}form{margin:0;padding:0;}hr{height:1px;border:1px solid gray;}img{border:0;}table{border-collapse:collapse;}th{text-align:left;
  padding-right:1em;
  border-bottom:3px solid #ccc;}
.clear-block:after{content:".";display:block;height:0;clear:both;visibility:hidden;}.clear-block{display:inline-block;}/* Hides from IE-mac \*/
* html .clear-block{height:1%;}.clear-block{display:block;}



body.drag{cursor:move;}th.active img{display:inline;}tr.even,tr.odd{background-color:#eee;border-bottom:1px solid #ccc;padding:0.1em 0.6em;}tr.drag{background-color:#fffff0;}tr.drag-previous{background-color:#ffd;}td.active{background-color:#ddd;}td.checkbox,th.checkbox{text-align:center;}tbody{border-top:1px solid #ccc;}tbody th{border-bottom:1px solid #ccc;}thead th{text-align:left;
  padding-right:1em;
  border-bottom:3px solid #ccc;}
.breadcrumb{padding-bottom:.5em}div.indentation{width:20px;height:1.7em;margin:-0.4em 0.2em -0.4em -0.4em;
  padding:0.42em 0 0.42em 0.6em;
  float:left;}div.tree-child{background:url(http://april.org/misc/tree.png) no-repeat 11px center;}div.tree-child-last{background:url(http://april.org/misc/tree-bottom.png) no-repeat 11px center;}div.tree-child-horizontal{background:url(http://april.org/misc/tree.png) no-repeat -11px center;}.error{color:#e55;}div.error{border:1px solid #d77;}div.error,tr.error{background:#fcc;color:#200;padding:2px;}.warning{color:#e09010;}div.warning{border:1px solid #f0c020;}div.warning,tr.warning{background:#ffd;color:#220;padding:2px;}.ok{color:#008000;}div.ok{border:1px solid #00aa00;}div.ok,tr.ok{background:#dfd;color:#020;padding:2px;}.item-list .icon{color:#555;float:right;
  padding-left:0.25em;
  clear:right;}.item-list .title{font-weight:bold;}.item-list ul{margin:0 0 0.75em 0;padding:0;}.item-list ul li{margin:0 0 0.25em 1.5em;
  padding:0;list-style:disc;}ol.task-list li.active{font-weight:bold;}.form-item{margin-top:1em;margin-bottom:1em;}tr.odd .form-item,tr.even .form-item{margin-top:0;margin-bottom:0;white-space:nowrap;}tr.merge-down,tr.merge-down td,tr.merge-down th{border-bottom-width:0 !important;}tr.merge-up,tr.merge-up td,tr.merge-up th{border-top-width:0 !important;}.form-item input.error,.form-item textarea.error,.form-item select.error{border:2px solid red;}.form-item .description{font-size:0.85em;}.form-item label{display:block;font-weight:bold;}.form-item label.option{display:inline;font-weight:normal;}.form-checkboxes,.form-radios{margin:1em 0;}.form-checkboxes .form-item,.form-radios .form-item{margin-top:0.4em;margin-bottom:0.4em;}.marker,.form-required{color:#f00;}.more-link{text-align:right;}.more-help-link{font-size:0.85em;text-align:right;}.nowrap{white-space:nowrap;}.item-list .pager{clear:both;text-align:center;}.item-list .pager li{background-image:none;display:inline;list-style-type:none;padding:0.5em;}.pager-current{font-weight:bold;}.tips{margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;font-size:0.9em;}dl.multiselect dd.b,dl.multiselect dd.b .form-item,dl.multiselect dd.b select{font-family:inherit;font-size:inherit;width:14em;}dl.multiselect dd.a,dl.multiselect dd.a .form-item{width:8em;}dl.multiselect dt,dl.multiselect dd{float:left;
  line-height:1.75em;padding:0;margin:0 1em 0 0;}dl.multiselect .form-item{height:1.75em;margin:0;}
.container-inline div,.container-inline label{display:inline;}
ul.primary{border-collapse:collapse;padding:0 0 0 1em;
  white-space:nowrap;list-style:none;margin:5px;height:auto;line-height:normal;border-bottom:1px solid #bbb;}ul.primary li{display:inline;}ul.primary li a{background-color:#ddd;border-color:#bbb;border-width:1px;border-style:solid solid none solid;height:auto;margin-right:0.5em;
  padding:0 1em;text-decoration:none;}ul.primary li.active a{background-color:#fff;border:1px solid #bbb;border-bottom:#fff 1px solid;}ul.primary li a:hover{background-color:#eee;border-color:#ccc;border-bottom-color:#eee;}ul.secondary{border-bottom:1px solid #bbb;padding:0.5em 1em;margin:5px;}ul.secondary li{display:inline;padding:0 1em;border-right:1px solid #ccc;}ul.secondary a{padding:0;text-decoration:none;}ul.secondary a.active{border-bottom:4px solid #999;}

#autocomplete{position:absolute;border:1px solid;overflow:hidden;z-index:100;}#autocomplete ul{margin:0;padding:0;list-style:none;}#autocomplete li{background:#fff;color:#000;white-space:pre;cursor:default;}#autocomplete li.selected{background:#0072b9;color:#fff;}
html.js input.form-autocomplete{background-image:url(http://april.org/misc/throbber.gif);background-repeat:no-repeat;background-position:100% 2px;}html.js input.throbbing{background-position:100% -18px;}
html.js fieldset.collapsed{border-bottom-width:0;border-left-width:0;border-right-width:0;margin-bottom:0;height:1em;}html.js fieldset.collapsed *{display:none;}html.js fieldset.collapsed legend{display:block;}html.js fieldset.collapsible legend a{padding-left:15px;
  background:url(http://april.org/misc/menu-expanded.png) 5px 75% no-repeat;}html.js fieldset.collapsed legend a{background-image:url(http://april.org/misc/menu-collapsed.png);
  background-position:5px 50%;}
* html.js fieldset.collapsed legend,* html.js fieldset.collapsed legend *,* html.js fieldset.collapsed table *{display:inline;}
html.js fieldset.collapsible{position:relative;}html.js fieldset.collapsible legend a{display:block;}
html.js fieldset.collapsible .fieldset-wrapper{overflow:auto;}
.resizable-textarea{width:95%;}.resizable-textarea .grippie{height:9px;overflow:hidden;background:#eee url(http://april.org/misc/grippie.png) no-repeat center 2px;border:1px solid #ddd;border-top-width:0;cursor:s-resize;}html.js .resizable-textarea textarea{margin-bottom:0;width:100%;display:block;}
.draggable a.tabledrag-handle{cursor:move;float:left;
  height:1.7em;margin:-0.4em 0 -0.4em -0.5em;
  padding:0.42em 1.5em 0.42em 0.5em;
  text-decoration:none;}a.tabledrag-handle:hover{text-decoration:none;}a.tabledrag-handle .handle{margin-top:4px;height:13px;width:13px;background:url(http://april.org/misc/draggable.png) no-repeat 0 0;}a.tabledrag-handle-hover .handle{background-position:0 -20px;}
.joined + .grippie{height:5px;background-position:center 1px;margin-bottom:-2px;}
.teaser-checkbox{padding-top:1px;}div.teaser-button-wrapper{float:right;
  padding-right:5%;
  margin:0;}.teaser-checkbox div.form-item{float:right;
  margin:0 5% 0 0;
  padding:0;}textarea.teaser{display:none;}html.js .no-js{display:none;}
.progress{font-weight:bold;}.progress .bar{background:#fff url(http://april.org/misc/progress.gif);border:1px solid #00375a;height:1.5em;margin:0 0.2em;}.progress .filled{background:#0072b9;height:1em;border-bottom:0.5em solid #004a73;width:0%;}.progress .percentage{float:right;}.progress-disabled{float:left;}.ahah-progress{float:left;}.ahah-progress .throbber{width:15px;height:15px;margin:2px;background:transparent url(http://april.org/misc/throbber.gif) no-repeat 0px -18px;float:left;}tr .ahah-progress .throbber{margin:0 2px;}.ahah-progress-bar{width:16em;}
#first-time strong{display:block;padding:1.5em 0 .5em;}
tr.selected td{background:#ffc;}
table.sticky-header{margin-top:0;background:#fff;}
#clean-url.install{display:none;}
html.js .js-hide{display:none;}
#system-modules div.incompatible{font-weight:bold;}
#system-themes-form div.incompatible{font-weight:bold;}
span.password-strength{visibility:hidden;}input.password-field{margin-right:10px;}div.password-description{padding:0 2px;margin:4px 0 0 0;font-size:0.85em;max-width:500px;}div.password-description ul{margin-bottom:0;}.password-parent{margin:0 0 0 0;}
input.password-confirm{margin-right:10px;}.confirm-parent{margin:5px 0 0 0;}span.password-confirm{visibility:hidden;}span.password-confirm span{font-weight:normal;}

ul.menu{list-style:none;border:none;text-align:left;}ul.menu li{margin:0 0 0 0.5em;}li.expanded{list-style-type:circle;list-style-image:url(http://april.org/misc/menu-expanded.png);padding:0.2em 0.5em 0 0;
  margin:0;}li.collapsed{list-style-type:disc;list-style-image:url(http://april.org/misc/menu-collapsed.png);
  padding:0.2em 0.5em 0 0;
  margin:0;}li.leaf{list-style-type:square;list-style-image:url(http://april.org/misc/menu-leaf.png);padding:0.2em 0.5em 0 0;
  margin:0;}li a.active{color:#000;}td.menu-disabled{background:#ccc;}ul.links{margin:0;padding:0;}ul.links.inline{display:inline;}ul.links li{display:inline;list-style-type:none;padding:0 0.5em;}.block ul{margin:0;padding:0 0 0.25em 1em;}

#permissions td.module{font-weight:bold;}#permissions td.permission{padding-left:1.5em;}#access-rules .access-type,#access-rules .rule-type{margin-right:1em;
  float:left;}#access-rules .access-type .form-item,#access-rules .rule-type .form-item{margin-top:0;}#access-rules .mask{clear:both;}#user-login-form{text-align:center;}#user-admin-filter ul{list-style-type:none;padding:0;margin:0;width:100%;}#user-admin-buttons{float:left;
  margin-left:0.5em;
  clear:right;}#user-admin-settings fieldset .description{font-size:0.85em;padding-bottom:.5em;}
.profile{clear:both;margin:1em 0;}.profile .picture{float:right;
  margin:0 1em 1em 0;}.profile h3{border-bottom:1px solid #ccc;}.profile dl{margin:0 0 1.5em 0;}.profile dt{margin:0 0 0.2em 0;font-weight:bold;}.profile dd{margin:0 0 1em 0;}


.field .field-label,.field .field-label-inline,.field .field-label-inline-first{font-weight:bold;}.field .field-label-inline,.field .field-label-inline-first{display:inline;}.field .field-label-inline{visibility:hidden;}
.node-form .content-multiple-table td.content-multiple-drag{width:30px;padding-right:0;}.node-form .content-multiple-table td.content-multiple-drag a.tabledrag-handle{padding-right:.5em;}.node-form .content-add-more .form-submit{margin:0;}.node-form .number{display:inline;width:auto;}.node-form .text{width:auto;}
.form-item #autocomplete .reference-autocomplete{white-space:normal;}.form-item #autocomplete .reference-autocomplete label{display:inline;font-weight:normal;}
#content-field-overview-form .advanced-help-link,#content-display-overview-form .advanced-help-link{margin:4px 4px 0 0;}#content-field-overview-form .label-group,#content-display-overview-form .label-group,#content-copy-export-form .label-group{font-weight:bold;}table#content-field-overview .label-add-new-field,table#content-field-overview .label-add-existing-field,table#content-field-overview .label-add-new-group{float:left;}table#content-field-overview tr.content-add-new .tabledrag-changed{display:none;}table#content-field-overview tr.content-add-new .description{margin-bottom:0;}table#content-field-overview .content-new{font-weight:bold;padding-bottom:.5em;}
.advanced-help-topic h3,.advanced-help-topic h4,.advanced-help-topic h5,.advanced-help-topic h6{margin:1em 0 .5em 0;}.advanced-help-topic dd{margin-bottom:.5em;}.advanced-help-topic span.code{background-color:#EDF1F3;font-family:"Bitstream Vera Sans Mono",Monaco,"Lucida Console",monospace;font-size:0.9em;padding:1px;}.advanced-help-topic .content-border{border:1px solid #AAA}
.ctools-locked{color:red;border:1px solid red;padding:1em;}.ctools-owns-lock{background:#FFFFDD none repeat scroll 0 0;border:1px solid #F0C020;padding:1em;}a.ctools-ajaxing,input.ctools-ajaxing,button.ctools-ajaxing,select.ctools-ajaxing{padding-right:18px !important;background:url(http://april.org/sites/default/modules/ctools/images/status-active.gif) right center no-repeat;}div.ctools-ajaxing{float:left;width:18px;background:url(http://april.org/sites/default/modules/ctools/images/status-active.gif) center center no-repeat;}
.container-inline-date{width:auto;clear:both;display:inline-block;vertical-align:top;margin-right:0.5em;}.container-inline-date .form-item{float:none;padding:0;margin:0;}.container-inline-date .form-item .form-item{float:left;}.container-inline-date .form-item,.container-inline-date .form-item input{width:auto;}.container-inline-date .description{clear:both;}.container-inline-date .form-item input,.container-inline-date .form-item select,.container-inline-date .form-item option{margin-right:5px;}.container-inline-date .date-spacer{margin-left:-5px;}.views-right-60 .container-inline-date div{padding:0;margin:0;}.container-inline-date .date-timezone .form-item{float:none;width:auto;clear:both;}
#calendar_div,#calendar_div td,#calendar_div th{margin:0;padding:0;}#calendar_div,.calendar_control,.calendar_links,.calendar_header,.calendar{width:185px;border-collapse:separate;margin:0;}.calendar td{padding:0;}
span.date-display-single{}span.date-display-start{}span.date-display-end{}span.date-display-separator{}.date-repeat-input{float:left;
  width:auto;margin-right:5px;}.date-repeat-input select{min-width:7em;}.date-repeat fieldset{clear:both;float:none;}.date-views-filter-wrapper{min-width:250px;}.date-views-filter input{float:left !important;
  margin-right:2px !important;
  padding:0 !important;width:12em;min-width:12em;}.date-nav{width:100%;}.date-nav div.date-prev{text-align:left;
  width:24%;float:left;}.date-nav div.date-next{text-align:right;
  width:24%;float:right;}.date-nav div.date-heading{text-align:center;width:50%;float:left;}.date-nav div.date-heading h3{margin:0;padding:0;}.date-clear{float:none;clear:both;display:block;}.date-clear-block{float:none;width:auto;clear:both;} 	 
 .date-clear-block:after{content:" ";display:block;height:0;clear:both;visibility:hidden;}.date-clear-block{display:inline-block;}/* Hides from IE-mac \*/ 	 
 * html .date-clear-block{height:1%;}.date-clear-block{display:block;}

.date-container .date-format-delete{margin-top:1.8em;margin-left:1.5em;float:left;}.date-container .date-format-name{float:left;}.date-container .date-format-type{float:left;padding-left:10px;}.date-container .select-container{clear:left;float:left;}
div.date-calendar-day{line-height:1;width:40px;float:left;margin:6px 10px 0 0;background:#F3F3F3;border-top:1px solid #eee;border-left:1px solid #eee;border-right:1px solid #bbb;border-bottom:1px solid #bbb;color:#999;text-align:center;font-family:Georgia,Arial,Verdana,sans;}div.date-calendar-day span{display:block;text-align:center;}div.date-calendar-day span.month{font-size:.9em;background-color:#B5BEBE;color:white;padding:2px;text-transform:uppercase;}div.date-calendar-day span.day{font-weight:bold;font-size:2em;}div.date-calendar-day span.year{font-size:.9em;padding:2px;}
 


.footnotes{clear:both;margin-top:4em;margin-bottom:2em;border-top:1px solid #000000;}
.footnotes{font-size:0.9em;}
.see-footnote{vertical-align:top;position:relative;top:-0.25em;font-size:0.9em;}

ul.footnotes{list-style-type:none;margin-left:0;padding-left:0;}ul.footnotes li{margin-left:2.5em;list-style-type:none;background:none;}
ul.footnotes{
  position:relative;}.footnotes .footnote-label{position:absolute;left:0px;z-index:2;}
.see-footnote:target,.footnotes .footnote:target{background-color:#eeeeee;}.see-footnote:target{border:solid 1px #aaaaaa;}


.footnotes .footnote-multi{vertical-align:top;position:relative;top:-0.25em;font-size:0.75em;}
 
 #fn1{border-top:1px solid #000000;margin-top:3em;}.footnote{font-size:0.9em;}



.quotes-help-quote{color:#0000ff;}.quotes-help-tab{color:#ff0000;}.quotes-help-author{color:#008000;}.quotes-help-citation{color:#d2691e;}.quotes-author{position:relative;float:left;padding-right:1em;}.quotes-author p{margin:0;}.quotes-bio p{margin:0;clear:right;}.quotes-bio-link{margin-left:3em;font-size:89%;font-style:italic;}.quotes-citation{clear:left;}#quotes-admin-settings input{margin-left:2em;}.quotes-radios .form-item  label.option{position:relative;float:left;margin-right:2em;margin-top:0;}.quotes-radios .description{clear:both;}.block-quotes .quotes-author{float:right;}.quotes-header-bio{margin:0 5% 0 5%;background-color:#eeeeff;}.block-quotes{font-size:89%;}.block-quotes h2{text-align:center;}.block-quotes .content{margin-left:0.25em;}.block-quotes .quotes-author,.block-quotes .quotes-citation,.block-quotes .quotes-bio-link{text-align:right;clear:both;}.quotes-more-link{text-align:right;}.quotes-view-link{float:left;font-style:italic;}.toc{background-color:#F9F9F9;border:1px solid #B5C9D8;font-size:95%;text-align:left;}.content .toc{max-width:50%;}
.block .toc{max-width:100%;}.toc-title{text-align:center;font-weight:bold;}.toc-list{padding:0 10px 0 0;}.toc-toggle-message{}.toc ul{list-style-image:none;list-style-type:none;}.toc-number{display:block;margin-left:-30px;float:left;}.toc-back-to-top{padding-right:25px;text-align:right;font-style:italic;background:transparent url(http://april.org/sites/default/modules/tableofcontents/back-to-top.gif) no-repeat 100% 50%;}


.wrapper.tagadelic{text-align:justify;margin-right:1em;}.tagadelic.level1{font-size:1em;}.tagadelic.level2{font-size:1.2em;}.tagadelic.level3{font-size:1.4em;}.tagadelic.level4{font-size:1.6em;}.tagadelic.level5{font-size:1.8em;}.tagadelic.level6{font-size:2em;}.tagadelic.level7{font-size:2.2em;}.tagadelic.level8{font-size:2.4em;}.tagadelic.level9{font-size:2.6em;}.tagadelic.level10{font-size:2.8em;}
.calendar-calendar tr.odd,.calendar-calendar tr.even{background-color:#fff;}.calendar-calendar table{border-collapse:collapse;border-spacing:0;margin:0 auto;padding:0;width:100%;}.calendar-calendar .month-view table{border:none;padding:0;margin:0;width:100%;}
.calendar-calendar .year-view td{width:32%;padding:1px;border:none;}.calendar-calendar .year-view td table td{width:13%;padding:0;}.calendar-calendar tr{padding:0;margin:0;background-color:white;}.calendar-calendar th{color:#fff;background-color:#ccc;text-align:center;margin:0;}.calendar-calendar th a{font-weight:bold;color:#fff;background-color:#ccc;}.calendar-calendar td{width:12%;
  min-width:12%;border:1px solid #ccc;color:#777;text-align:right;vertical-align:top;margin:0;padding:0;}
.calendar-calendar .mini{border:none;}
.calendar-calendar td.week{width:1%;min-width:1%;}.calendar-calendar .week{clear:both;font-style:normal;color:#555;font-size:0.8em;}.calendar-calendar .week a{font-weight:normal;}
.calendar-calendar .inner{min-height:5em;height:auto !important;height:5em;padding:0;margin:0;}.calendar-calendar .inner div{padding:0;margin:0;}
.calendar-calendar .inner p{padding:0 0 .8em 0;margin:0;}.calendar-calendar td a{font-weight:bold;text-decoration:none;}.calendar-calendar td a:hover{text-decoration:underline;}.calendar-calendar td.year,.calendar-calendar td.month{text-align:center;}
.calendar-calendar th.days{color:#ccc;background-color:#224;text-align:center;padding:1px;margin:0;}
.calendar-calendar div.day{float:right;text-align:center;padding:0.125em 0.25em 0 0.25em;margin:0;background-color:#f3f3f3;border:1px solid gray;border-width:0 0 1px 1px;clear:both;width:1.5em;}
.calendar-calendar div.calendar{background-color:#fff;border:solid 1px #ddd;text-align:left;margin:0 .25em .25em 0;width:96%;float:right;
  clear:both;}
.calendar-calendar .day-view div.calendar{float:none;width:98%;margin:1% 1% 0 1%;}.calendar-calendar div.title{font-size:.8em;text-align:center;}.calendar-calendar div.title a{color:#000;}.calendar-calendar div.title a:hover{color:#c00;}.calendar-calendar .content{clear:both;padding:3px;padding-left:5px;}.calendar div.form-item{white-space:normal;}table td.mini,table th.mini,table.mini td.week{padding:0 1px 0 0;margin:0;}table td.mini a{font-weight:normal;}.calendar-calendar .mini-day-off{padding:0px;}.calendar-calendar .mini-day-on{padding:0px;}table .mini-day-on a{text-decoration:underline;}.calendar-calendar .mini .title{font-size:.8em;}.mini .calendar-calendar .week{font-size:.7em;}.mini-row{width:100%;border:none;}.mini{width:32%;vertical-align:top;}
.calendar-calendar .stripe{height:5px;width:auto;font-size:1px !important;line-height:1px !important;}.calendar-calendar .day-view .stripe{width:100%;}table.calendar-legend{background-color:#ccc;width:100%;margin:0;padding:0;}table.calendar-legend tr.odd .stripe,table.calendar-legend tr.even .stripe{height:12px !important;font-size:9px !important;line-height:10px !important;}.calendar-legend td{text-align:left;}.calendar-empty{font-size:1px;line-height:1px;}  
.calendar-calendar td.calendar-agenda-hour{font-family:serif;text-align:right;border:none;border-top:1px #333 dotted;padding-top:.25em;width:1%;}.calendar-calendar td.calendar-agenda-no-hours{min-width:1%;}.calendar-calendar td.calendar-agenda-hour .calendar-hour{font-size:1.2em;font-weight:bold;}.calendar-calendar td.calendar-agenda-hour .calendar-ampm{font-size:1em;}.calendar-calendar td.calendar-agenda-items{border:1px #333 dotted;text-align:left;}.calendar-calendar td.calendar-agenda-items div.calendar{width:auto;padding:.25em;margin:0;}.calendar-calendar div.calendar div.inner .calendar-agenda-empty{width:100%;text-align:center;vertical-align:middle;padding:1em 0;background-color:#fff;}
.calendar-date-select form{text-align:right;float:right;width:25%;}.calendar-date-select div,.calendar-date-select input,.calendar-date-select label{text-align:right;padding:0;margin:0;float:right;clear:both;}.calendar-date-select .description{float:right;}.calendar-label{font-weight:bold;display:block;clear:both;}.calendar-calendar div.date-nav{background-color:#ccc;color:#777;padding:0.2em;width:auto;border:1px solid #ccc;}.calendar-calendar div.date-nav a,.calendar-calendar div.date-nav h3{color:#777;}.calendar-calendar th.days{background-color:#eee;color:#777;font-weight:bold;border:1px solid #ccc;}.calendar-calendar td.empty{background:#ccc;border-color:#ccc;}.calendar-calendar table.mini td.empty{background:#fff;border-color:#fff;}.calendar-calendar td div.day{border:1px solid #ccc;border-top:none;border-right:none;margin-bottom:2px;}.calendar-calendar td .inner div,.calendar-calendar td .inner div a{background:#eee;}

.calendar-calendar div.calendar{border:none;font-size:x-small;}.calendar-calendar td .inner div.calendar div,.calendar-calendar td .inner div.calendar div a{border:none;background:#ffc;padding:0 2px;}.calendar-calendar td .inner div.calendar div.calendar-more,.calendar-calendar td .inner div.calendar div.calendar-more a{color:#444;background:#fff;text-align:right;}.calendar-calendar td .inner .view-field,.calendar-calendar td .inner .view-field a{color:#444;font-weight:normal;}.calendar-calendar td span.date-display-single,.calendar-calendar td span.date-display-start,.calendar-calendar td span.date-display-end,.calendar-calendar td span.date-display-separator{font-weight:bold;}.calendar-calendar td .inner div.day a{color:#4b85ac;}.calendar-calendar tr td.today,.calendar-calendar tr.odd td.today,.calendar-calendar tr.even td.today{background-color:#C3D6E4;}.calendar-calendar td .inner div.calendar div div.view-data-node-data-field-date-field-date-value{border-bottom:1px solid #ccc;}
.calendar-calendar td.past{}.calendar-calendar td.future{}.calendar-calendar td.has-events{}.calendar-calendar td.has-no-events{}

.farbtastic{position:relative;}.farbtastic *{position:absolute;cursor:crosshair;}.farbtastic,.farbtastic .wheel{width:195px;height:195px;}.farbtastic .color,.farbtastic .overlay{top:47px;left:47px;width:101px;height:101px;}.farbtastic .wheel{background:url(http://april.org/misc/farbtastic/wheel.png) no-repeat;width:195px;height:195px;}.farbtastic .overlay{background:url(http://april.org/misc/farbtastic/mask.png) no-repeat;}.farbtastic .marker{width:17px;height:17px;margin:-8px 0 0 -8px;overflow:hidden;background:url(http://april.org/misc/farbtastic/marker.png) no-repeat;}

div.panel-pane div.admin-links{font-size:xx-small;margin-right:1em;}div.panel-pane div.admin-links li a{color:#ccc;}div.panel-pane div.admin-links li{padding-bottom:2px;background:white;z-index:201;}div.panel-pane div.admin-links:hover a,div.panel-pane div.admin-links-hover a{color:#000;}div.panel-pane div.admin-links a:before{content:"[";}div.panel-pane div.admin-links a:after{content:"]";}div.panel-pane div.panel-hide{display:none;}
div.panel-pane div.panel-hide-hover,div.panel-pane:hover div.panel-hide{display:block;position:absolute;z-index:200;margin-top:-1.5em;}div.panel-pane div.node{margin:0;padding:0;}div.panel-pane div.feed a{float:right;}
.views-exposed-form .views-exposed-widget{float:left;
  padding:.5em 1em 0 0;}.views-exposed-form .views-exposed-widget .form-submit{margin-top:1.6em;}.views-exposed-form .form-item,.views-exposed-form .form-submit{margin-top:0;margin-bottom:0;}.views-exposed-form label{font-weight:bold;}.views-exposed-widgets{margin-bottom:.5em;}html.js a.views-throbbing,html.js span.views-throbbing{background:url(http://april.org/sites/default/modules/views/images/status-active.gif) no-repeat right center;padding-right:18px;}

div.view div.views-admin-links{font-size:xx-small;margin-right:1em;margin-top:1em;}.block div.view div.views-admin-links{margin-top:0;}div.view div.views-admin-links ul{padding-left:0;}div.view div.views-admin-links li a{color:#ccc;}div.view div.views-admin-links li{padding-bottom:2px;z-index:201;}div.view div.views-admin-links-hover a,div.view div.views-admin-links:hover a{color:#000;}div.view div.views-admin-links-hover,div.view div.views-admin-links:hover{background:transparent;;}div.view div.views-admin-links a:before{content:"[";}div.view div.views-admin-links a:after{content:"]";}div.view div.views-hide{display:none;}
div.view div.views-hide-hover,div.view:hover div.views-hide{display:block;position:absolute;z-index:200;}
div.view:hover div.views-hide{margin-top:-1.5em;}
.views-view-grid tbody{border-top:none;}

.panel-2col-bricks{
  margin-top:0;padding-top:0;}.panel-2col-bricks .panel-col-top,.panel-2col-bricks .panel-col-middle,.panel-2col-bricks .panel-col-bottom{width:99.9%;clear:both;}.panel-2col-bricks .panel-col-top .inside,.panel-2col-bricks .panel-col-middle .inside{margin-bottom:.5em;}.panel-2col-bricks .panel-col-first{float:left;width:50%;}* html .panel-2col-bricks .panel-col-first{width:49.9%;}.panel-2col-bricks .panel-col-first .inside{margin:0 .5em .5em 0;}.panel-2col-bricks .panel-col-last{float:left;width:50%;}* html .panel-2col-bricks .panel-col-last{width:49.9%;}.panel-2col-bricks .panel-col-last .inside{margin:0 0 .5em .5em;}.panel-2col-bricks .panel-separator{margin:0 0 1em 0;}
.alinks-link{background-image:url(http://april.org/sites/default/modules/alinks/external.png);background-position:top right;padding-right:12px;background-repeat:no-repeat;}

.print-link{
  display:block;text-align:right;padding-bottom:0.5em;
  }div#block-print-0 span{display:block;}.print_html,.print_mail,.print_pdf{margin-left:1em;}.print-syslink{margin-right:1em;}img.print-icon{vertical-align:middle;}img.print-icon-margin{padding-right:4px;}label.printmail-label{width:175px;float:left;}





  
  body{font-size:100%;}#page{

    
    font-size:0.75em;
    line-height:1.333em;

    
    font-size:0.875em;
    line-height:1.286em;}body,caption,th,td,input,textarea,select,option,legend,fieldset{

    font-family:Tahoma,Verdana,Arial,Helvetica,"Bitstream Vera Sans",sans-serif;}pre,code{font-size:1.1em;
    font-family:"Bitstream Vera Sans Mono","Courier New",monospace;}
  h1{font-size:2em;line-height:1.3em;margin-top:0;margin-bottom:0.5em;}h2{font-size:1.5em;line-height:1.3em;margin-top:0.667em;
    margin-bottom:0.667em;}h3{font-size:1.3em;line-height:1.3em;margin-top:0.769em;
    margin-bottom:0.769em;}h4,h5,h6{font-size:1.1em;line-height:1.3em;margin-top:0.909em;
    margin-bottom:0.909em;}
  p,ul,ol,dl,pre,table,fieldset,blockquote{margin:1em 0;}
  
  ul,ol{margin-left:0;padding-left:2em;}.block ul,
  .item-list ul{margin:1em 0;padding:0 0 0 2em;}ul ul,ul ol,ol ol,ol ul,.block ul ul,.block ul ol,.block ol ol,.block ol ul,.item-list ul ul,.item-list ul ol,.item-list ol ol,.item-list ol ul{margin:0;}li{margin:0;padding:0;}.item-list ul li {margin:0;padding:0;list-style:inherit;}ul.menu li,
  li.expanded,li.collapsed,li.leaf{margin:0;padding:0;}ul{list-style-type:disc;}ul ul{list-style-type:circle;}ul ul ul{list-style-type:square;}ul ul ul ul{list-style-type:circle;}ol{list-style-type:decimal;}ol ol{list-style-type:lower-alpha;}ol ol ol{list-style-type:decimal;}dt{margin:0;padding:0;}dd{margin:0 0 0 2em;padding:0;}
  
  a:link{}a:visited{}a:hover,a:focus{}a:active{}
  
  table{border-collapse:collapse; }th,thead th,tbody th{text-align:left;padding-right:0;border-bottom:none;}tbody{border-top:none;}
  abbr{border-bottom:1px dotted #666;cursor:help;white-space:nowrap;}
  abbr.created{border:none;cursor:auto;white-space:normal;}
  img{border:0;}
  hr{height:1px;border:1px solid #666;}
  form{margin:0;padding:0;}fieldset{margin:1em 0;padding:0.5em;}



  div.tabs{margin:0 0 5px 0;}ul.primary{margin:0;padding:0 0 0 10px;border-width:0;list-style:none;white-space:nowrap;line-height:normal;background:url(http://april.org/sites/default/themes/zen/zen/images/tab-bar.png) repeat-x left bottom;}ul.primary li{float:left;margin:0;padding:0;}ul.primary li a{display:block;height:24px;margin:0;padding:0 0 0 5px;
    border-width:0;font-weight:bold;text-decoration:none;color:#777;background-color:transparent;background:url(http://april.org/sites/default/themes/zen/zen/images/tab-left.png) no-repeat left -38px;}ul.primary li a .tab{display:block;height:20px;
    margin:0;padding:4px 13px 0 6px;border-width:0;line-height:20px;background:url(http://april.org/sites/default/themes/zen/zen/images/tab-right.png) no-repeat right -38px;}ul.primary li a:hover{border-width:0;background-color:transparent;background:url(http://april.org/sites/default/themes/zen/zen/images/tab-left.png) no-repeat left -76px;}ul.primary li a:hover .tab{background:url(http://april.org/sites/default/themes/zen/zen/images/tab-right.png) no-repeat right -76px;}ul.primary li.active a,ul.primary li.active a:hover{border-width:0;color:#000;background-color:transparent;background:url(http://april.org/sites/default/themes/zen/zen/images/tab-left.png) no-repeat left 0;}ul.primary li.active a .tab,ul.primary li.active a:hover .tab{background:url(http://april.org/sites/default/themes/zen/zen/images/tab-right.png) no-repeat right 0;}ul.secondary{margin:0;padding:0 0 0 5px;border-bottom:1px solid #c0c0c0;list-style:none;white-space:nowrap;background:url(http://april.org/sites/default/themes/zen/zen/images/tab-secondary-bg.png) repeat-x left bottom;}ul.secondary li{float:left;margin:0 5px 0 0;padding:5px 0;border-right:none;}ul.secondary a{display:block;height:24px;margin:0;padding:0;border:1px solid #c0c0c0;text-decoration:none;color:#777;background:url(http://april.org/sites/default/themes/zen/zen/images/tab-secondary.png) repeat-x left -56px;}ul.secondary a .tab{display:block;height:18px;
    margin:0;padding:3px 8px;line-height:18px;}ul.secondary a:hover{background:url(http://april.org/sites/default/themes/zen/zen/images/tab-secondary.png) repeat-x left bottom;}ul.secondary a.active,ul.secondary a.active:hover{border:1px solid #c0c0c0;color:#000;background:url(http://april.org/sites/default/themes/zen/zen/images/tab-secondary.png) repeat-x left top;}



.warning{margin:20px 0px 20px 0px;padding:6px;padding-left:36px;background:url(http://april.org/sites/default/themes/dtcimages/warning.png) no-repeat #fce94f;background-position:6px 50%;border:1px solid #f57900;}.error{margin:20px 0px 20px 0px;padding:6px;padding-left:36px;background:url(http://april.org/sites/default/themes/dtcimages/error.png) no-repeat #fcafaf;background-position:6px 50%;border:1px solid #cc0000;}.notice{margin:20px 0px 20px 0px;padding:6px;padding-left:36px;background:url(http://april.org/sites/default/themes/dtcimages/notice.png) no-repeat #affcaf;background-position:6px 50%;border:1px solid #73d216;}.running{margin:20px 0px 20px 0px;padding:6px;padding-left:36px;background:url(http://april.org/sites/default/themes/dtcimages/ajax-spinner.gif) no-repeat #ffffff;background-position:6px 50%;border:1px solid #73d216;}.ajaxfix{border:1px solid rgb(181,197,212);background:url(http://april.org/sites/default/themes/dtcimages/syringe.png) no-repeat rgb(246,246,246);background-position:3px 3px;padding:6px;margin:0px;padding-left:32px;text-decoration:none;color:black;}.fatalerror{margin:20px 0px 20px 0px;padding:6px;padding-left:36px;background:url(http://april.org/sites/default/themes/dtcimages/error.png) no-repeat #fcafaf;background-position:6px 50%;border:1px solid #cc0000;}



.tooltip{position:absolute;margin:6px;padding:6px;padding-left:30px;background-color:white;border:1px solid #2D4779;background:url(http://april.org/sites/default/themes/dtcimages/help.png) no-repeat white;background-position:3px 50%;max-width:400px;}.tooltipbutton{cursor:help;}



input.fail,textarea.fail{border:1px solid #9e9e9e;padding:1px;background:pink;}span.fail{font-weight:bold;color:firebrick;}


.popup{position:absolute;margin-top:-6px;background:url(http://april.org/sites/default/themes/dtcimages/popup-arrowup.png) no-repeat;background-position:0 0;vertical-align:middle;}.popup-inner{margin-top:12px;background:#ffee99;padding:6px;border-left:1px solid #9e9e9e;border-right:1px solid #9e9e9e;border-bottom:1px solid #9e9e9e;}.popup-inner img.popup-icon{padding-right:6px;vertical-align:middle;}.popup-inner .popup-close{float:right;align:right;margin-left:6px;}



  div.block.with-block-editing{position:relative;}div.block.with-block-editing div.edit{display:none;position:absolute;right:0;top:0;z-index:40;border:1px solid #eee;padding:0 2px;font-size:0.75em;background-color:#fff;}div.block.with-block-editing:hover div.edit{display:block;}




  .with-wireframes #header-inner,.with-wireframes #content-inner,.with-wireframes #content-inner>*,.with-wireframes #navbar-inner,.with-wireframes #sidebar-left-inner,.with-wireframes #sidebar-right-inner,.with-wireframes #footer-inner{margin:1px;padding:2px;border:1px solid #ccc;}.with-wireframes #closure-blocks{margin-top:1px;padding:2px;border:1px solid #ccc;}





  body{margin:0;padding:10px;}#page{}#page-inner{}#navigation-top,#navigation{position:absolute;
    left:-10000px;}#skip-to-nav{float:right;margin:0 !important;font-size:0.8em;}#skip-to-nav a:link,#skip-to-nav a:visited{color:#fff;}#skip-to-nav a:hover{color:#000;text-decoration:none;}
  


  #header{}#header-inner{}#logo-title{float:left;width:220px;}#logo{
    margin:0;padding:0;}h1#site-name,div#site-name{margin:0;font-size:2em;line-height:1.3em;}#site-slogan{}#header-blocks{
	float:right;width:75%;}
  #main{position:relative;}#main-inner{}
  #content{float:left;width:100%;margin-left:0;margin-right:-100%;
    padding:0;}.two-sidebars #content-inner{padding-left:210px;
    padding-right:210px;}.sidebar-left #content-inner{padding-left:210px;
    padding-right:0;}.sidebar-right #content-inner{padding-left:0;padding-right:210px;}#content-inner{margin:0;padding:0;}
  #navbar{
    margin-left:0;
    padding:0;
    }.with-navbar #content,.with-navbar #sidebar-left,.with-navbar #sidebar-right{margin-top:3.6em;}#navbar-inner{}#search-box{width:210px;margin-right:-210px;
    float:left;}#primary{margin-left:210px;}#secondary{margin-left:210px;}#navbar ul {margin:0;padding:0;text-align:left;}#navbar li {float:left;padding:0 10px 0 0;}
  


  #sidebar-left{float:left;width:200px;margin-left:0;margin-right:-200px;
    padding:0;}#sidebar-left-inner{margin:0 20px 0 0;padding:0;}
  #sidebar-right{float:right;width:210px;margin-left:-210px;
    margin-right:0;padding:0;}#sidebar-right-inner{margin:0;padding:0;}
  #footer{}#footer-inner{}#closure-blocks{}
  #header,#content,#navbar,#sidebar-left,#sidebar-right,#footer,#closure-blocks{overflow:visible;word-wrap:break-word;}#navbar{overflow:hidden;}
  .lien_bouton_campagne{font-weight:600;font-size:19px;color:#005184;margin:10px 0px 10px 15px;background:#EFEFF7;padding:2px 5px;line-height:170%;border:1px solid #CCC;}
.boutons_campagne{margin-bottom:20px;text-align:center;line-height:210%;}.boutons_campagne a{font-weight:bolder;font-size:19px;color:#005184;margin:10px 0px 10px 15px;background-color:#EFEFF7;padding:2px 5px;border:1px solid #CCC;}.cadre{float:right;margin:0px 20px;padding:10px;border:1px solid #999;width:400px;background:#EFEFF7;text-align:right;}#form_adhesion label{display:block;width:175px;float:left;}



.clear{clear:both;}
body{margin:0;padding:0;background:#e2e5e9 url(http://april.org/sites/default/themes/zen_april/images/body_bg_top.gif) top repeat-x;font-family:Verdana,sans-serif;}h1{font-size:22px;}h2{font-size:20px;}h3{font-size:18px;}h4{font-size:16px;}h5{font-size:14px;}a{text-decoration:none;color:#02739f;}a:hover{text-decoration:none;color:#005184;}ol{list-style-type:decimal;}ol[type="_"]{list-style-type:decimal;}#main #content .pane-content img,#main #content .content img{display:inline;margin:10px 20px 10px 10px;padding:2px;background:#fff;border:1px solid #a0a0a0;}#page{margin:0 auto;min-width:1000px;max-width:1254px;width:expression(document.body.clientWidth < 1002? "1000px":document.body.clientWidth > 1252? "1254px":"auto");border-left:1px solid #aabacd;border-right:1px solid #aabacd;background:#fff;}#page-inner{}
#header{
	background:#fff url(http://april.org/sites/default/themes/zen_april/images/header_bg_right.gif) right top no-repeat;}#header-inner{}#logo-title {}#logo {}#logo-image {}#site-name {}#site-name a:link,#site-name a:visited{color:#000;text-decoration:none;}#site-name a:hover{text-decoration:underline;}#site-slogan {}#header-blocks {}
#main{background:#fff url(http://april.org/sites/default/themes/zen_april/images/main_bg.gif) right repeat-y;}#main-inner{}
  #content{}#content p{
  text-align:justify;
  padding:5px 0 7px;}#content-inner{}#mission {}#content-top {}#content-header {min-height:55px;background:#005184 url(http://april.org/sites/default/themes/zen_april/images/content_header_bg.gif) bottom repeat-x;}.breadcrumb {padding-bottom:0;
	padding:0 0 0 20px;font-size:10px;color:#98cde7;}.breadcrumb a{color:#cbe6f3;}h1.title,
  h2.title,
  h3.title {margin:0;}h1.title{padding:7px 0 0 20px;font-size:22px;font-weight:normal;color:#fff;}h2.pane-title,h2.pane-title a,h2.title,h2.title a{padding:2px 0;font-size:20px;font-weight:bold;color:#013a50;}h3.title{font-size:18px;}h4.title{font-size:16px;}div.messages {margin:0 1em 5px 1em;border:2px solid #ccc;padding:5px;color:#000;background-color:#fff;font-style:italic;}div.status {}div.warning {border-color:#ff7;}div.warning,tr.warning,body.section-admin tr.warning{color:#000;background-color:#ffc;}div.error {border-color:#c00;}div.error,tr.error,body.section-admin tr.error{color:#900;background-color:#fee;}div.tabs {}.help {margin:1em 0;padding-bottom:5px;background:#e6ebed;}#content-header .help{padding:0 20px;color:#000;}#content-header .help a{color:#ee5921;}.more-help-link {font-size:0.85em;text-align:right;color:#98cde7;}.more-help-link a{color:#fff;}#content-area {padding:0 20px;background:#fff url(http://april.org/sites/default/themes/zen_april/images/pixel_cfcfcf.gif) right repeat-y;}.pager {clear:both;margin:1em 0;text-align:center;font-size:12px;}.pager a,.pager strong.pager-current{padding:0.5em;border:1px solid #fff;border-bottom:1px solid #e6ebed;}.pager strong.pager-current{border:1px solid #e6ebed;border-top:1px solid #f06f3e;border-bottom:1px solid #fff;}.pager a:hover{background:#f2f5f6;color:#ee5921;}.feed-icons {margin:1em 0;}#content-bottom {clear:both;}
#navbar{clear:right;float:right;margin:0 10px 0 0;border-bottom:0;width:75%;}#navbar-inner{float:right;border-bottom:0;}#search-box {}#primary {margin:25px 0 0 0;}#primary ul.links{text-align:center;}#primary ul.links li{float:left;margin:2px 1px 0 1px;padding:0;border-top:none;}#primary ul.links li.first{margin:2px 1px 0 0;}#primary ul.links li.last{margin:2px 0 0 1px;}#primary ul.links li a{display:block;padding:2px 7px;height:19px;border:1px solid #e2e5e9;-moz-border-radius:5px 5px 0 0;border-bottom:none;background:#fff url(http://april.org/sites/default/themes/zen_april/images/navbar_item_bg.gif) top repeat-x;font-size:13px;font-weight:bold;color:#005184;}#primary ul.links li a:hover{border:1px solid #00749f;border-bottom:none;background:#309bcf url(http://april.org/sites/default/themes/zen_april/images/navbar_item_bg.gif) bottom repeat-x;color:#fff;}#primary ul.links li.active{margin:0 1px 0 1px;border-top:2px solid #f06f3e;}#primary ul.links li.active.first{margin:0 1px 0 0;}#primary ul.links li.active.last{margin:0 0 0 1px;}#primary ul.links li.active a{padding:3px 7px 2px 7px;height:19px;border:none;-moz-border-radius:0 0 0 0;background:#005184 url(http://april.org/sites/default/themes/zen_april/images/navbar_item_select_bg.gif) top repeat-x;color:#fff;}body.logged-in #navbar{}body.logged-in #navbar #primary {margin:64px 0 0 0;}#secondary {}
  #sidebar-left{}#sidebar-left-inner{}
#sidebar-right{background:#e6ebed url(http://april.org/sites/default/themes/zen_april/images/rightmargin_top_bg.gif) top no-repeat;}#sidebar-right-inner{}
#footer{border-top:1px solid #cfcfcf;background:#dfdfdf;text-align:right;font-size:10px;}#footer-inner{}#footer-message {}
  #closure-blocks {}
.node {clear:both;display:block;margin:10px 0 0 0;}.node-inner {}.sticky {}.node-unpublished { }.node-unpublished div.unpublished,
  .comment-unpublished div.unpublished{height:0;overflow:visible;color:#d8d8d8;font-size:75px;line-height:1;font-family:Impact,"Arial Narrow",Helvetica,sans-serif;font-weight:bold;text-transform:uppercase;text-align:center;word-wrap:break-word;}.node-mine {}.node-teaser {}
  .node-type-page {}.node-type-story {}.node h3,.node h2,.node h2 a,.node h2.title,.node h2.title a {font-size:16px;color:#013a50;}.node h1{font-size:18px;}.node h2{font-size:16px;}.node h3{font-size:14px;}.node h4{font-size:13px;}.marker {color:#c00;}.node .picture {}.node.node-unpublished .picture,.comment.comment-unpublished .picture{position:relative;}.node .submitted {font-size:10px;color:#a0a0a0;}.node .taxonomy {font-size:10px;color:#a0a0a0;}.node .content {font-size:12px;}.node .content p{margin:5px 0;}.views-field-title{display:inline;}.views-field-created{margin-left:10px;border-left:1px solid #e6ebed;padding-left:10px;display:inline;}.node div.links {}ul.links {margin:0;padding:0;}ul.links.inline{display:inline;}ul.links li{display:inline;list-style-type:none;padding:0 0.5em;}.taxonomy ul.links li a{border:1px solid #dfdfdf;color:#5f8ba9;}.taxonomy ul.links li a:hover{border:1px solid #7fa8c1;color:#013a50;}.links ul.links{float:right;margin:0 0 35px 0;}.links ul.links li.comment_add,.links ul.links li.node_read_more{margin:0 0 0 20px;padding:0 0 0 20px;background:url(http://april.org/sites/default/themes/zen_april/images/link_more_swoosh.gif) left no-repeat;}.links ul.links li.comment_add a,.links ul.links li.node_read_more a{font-size:12px;font-weight:bold;color:#005184;}.links ul.links li.comment_add a:hover,.links ul.links li.node_read_more a:hover{color:#ee5921;}.preview .node { }
  #comments {margin:1em 0;}.comment {}.comment-inner {}.comment.odd {}.comment.even {}.comment-unpublished { }.comment-unpublished div.unpublished {}.comment-by-author {}.comment-by-anon {}.comment-mine {}.comment h3.title {}.new {color:#c00;}.comment .picture {}.comment .submitted {}.comment .content {}.comment div.links {margin:1em 0;}.indented { }.preview .comment { }
.block {
	clear:both;background:url(http://april.org/sites/default/themes/zen_april/images/rightmargin_module_bg_bottom.gif) bottom repeat-x;border-bottom:1px solid #fff;}.block.count-2{background:none;}.block.count-2 ul.menu li.leaf{padding:0 0 0 10px;background:none;}.block.count-2 ul.menu li.leaf a{font-size:13px;color:#005184;}.block.region-odd {}.block.region-even {}.block.odd {}.block.even {}.region-count-1 {}.count-1 {}.block-inner {padding:15px 10px 5px 10px;}.block h2.title {font-size:12px;font-weight:bold;color:#ee5921;}.mandatory{color:#ee5921;}.block .content {}.block .content ul.menu{margin:5px 0;padding:0;list-style:none;}.block .content ul.menu li{padding:0 0 0 20px;list-style:none;background:url(http://april.org/sites/default/themes/zen_april/images/rightmargin_list_dot.gif) left no-repeat;}.block .content ul.menu li a{font-weight:bold;font-size:12px;}#block-aggregator-category-1 {}#block-aggregator-feed-1 {}#block-block-1 {}#block-blog-0 {}#block-book-0 {}#block-comments-0 {}#block-forum-0 {}#block-forum-1 {}#block-menu-2 {}#block-node-0 {}#block-node-0 .content{padding:5px 0;}#block-poll-0 {}#block-profile-0 {}#block-search-0 {}#block-search-0{background:none;border:none;}#block-search-0 .block-inner{margin:15px 0 0 0;padding:0 0px;height:35px;}#block-search-0 .form-item{float:left;display:inline;position:absolute;margin:0;}#block-search-0 input.form-text{width:100px;margin:0 0 0 0;padding:2px 4px 2px 4px;border:1px solid #013a50;font-size:11px;}#block-search-0 input#edit-submit-0,#block-search-0 input#edit-submit-4{margin:0px 0 0 0px;padding:0px 2px 2px 2px;border:1px solid #013a50;background:#0275a0 url(http://april.org/sites/default/themes/zen_april/images/rightmargin_search_searchbtn_bg.gif) top repeat-x;text-align:center;font-size:11px;color:#e5f2f9;cursor:pointer;margin-left:120px;}#block-search-0 input#edit-submit-0:hover,#block-search-0 input#edit-submit-4:hover{border:1px solid #013a50;background:#ee5921;color:#f2f5f6;}#block-statistics-0 {}#block-user-0 {float:right;font-size:10px;background:none;border-bottom:none;}#block-user-0 .block-inner{padding:3px 10px 0 0;}#block-user-0 h2.title{display:none;}#block-user-0 .form-item{float:left;margin:0;padding:0;}#block-user-0 .form-item label,#block-user-0 .form-item input{float:left;margin-right:5px;font-size:10px;}#block-user-0 .form-item input{width:75px;}#block-user-0 .form-item input.error{margin:0 5px 0 0;}#block-user-0 .form-item label{font-weight:normal;color:#a0a0a0;}#block-user-0 .form-item label span.form-required{display:none;}#block-user-0 input #edit-submit-2{border:1px solid #7fa8c1;background:url(http://april.org/sites/default/themes/zen_april/images/login_btn_bg.gif) repeat-x;color:#02739f;font-size:10px;position:absolute;}#block-user-0 input#edit-submit-2:hover{background:#02739f;color:#fff;cursor:pointer;}#block-user-0 #user-login-form .item-list ul{margin:0;padding:0;list-style:none;text-align:right;font-size:9px;}#block-user-0 #user-login-form .item-list ul li,#block-user-0 #user-login-form .item-list ul li ul li,#block-user-0 #user-login-form .item-list ul.menu li.expanded ul.menu li.leaf{list-style:none;}#block-user-0 #user-login-form .item-list ul li a{color:#80bacf;}#block-user-0 #user-login-form .item-list ul li a:hover{color:#0275a0;}#block-user-2 {}#block-user-3 {}#block-menu-menu-espace-membres {border-top:1px solid #297896;background:#94bbca url(http://april.org/sites/default/themes/zen_april/images/rightmargin_usermodule_bg_top.gif) top repeat-x;}#block-menu-menu-espace-membres .block-inner{background:url(http://april.org/sites/default/themes/zen_april/images/rightmargin_usermodule_bg_p.gif) top right no-repeat;}#block-menu-menu-espace-membres h2.title{font-size:12px;font-weight:bold;color:#fff;}#block-menu-menu-espace-membres .content ul.menu{list-style:none;}#block-menu-menu-espace-membres .content ul.menu li{background:url(http://april.org/sites/default/themes/zen_april/images/rightmargin_usermodule_list_dot.gif) left no-repeat;}#block-menu-menu-espace-membres .content ul.menu li.expanded{background:url(http://april.org/sites/default/themes/zen_april/images/rightmargin_usermodule_list_dot_expanded.gif) top left no-repeat;}#block-menu-menu-espace-membres .content ul.menu li.collapsed{background:url(http://april.org/sites/default/themes/zen_april/images/rightmargin_usermodule_list_dot_collapsed.gif) top left no-repeat;}#block-menu-menu-espace-membres .content ul.menu li a{color:#e5f2f9;}#block-menu-menu-espace-membres .content ul.menu li a:hover{color:#fff;}#block-menu-menu-espace-membres .content ul.menu li a.active{color:#000;}.block-views{margin:2px;border-bottom:none;background:#fff url(http://april.org/sites/default/themes/zen_april/images/rightmargin_viewmodule_bg_bottom.gif) bottom repeat-x;}.block-views h2.title{color:#013a50;}.block-views .content .item-list ul{margin:0;padding:2px 0 5px 0;}.block-views .content .item-list ul li{padding:0 0 0 20px;list-style:none;background:url(http://april.org/sites/default/themes/zen_april/images/rightmargin_viewmodule_list_dot.gif) top left no-repeat;font-size:12px;}.block-views .content .more-link{text-align:right;}.block-views .content .more-link a{padding:0 0 0 20px;background:url(http://april.org/sites/default/themes/zen_april/images/link_more_swoosh.gif) left no-repeat;font-size:12px;font-weight:bold;color:#005184;}.block-views .content .more-link a:hover{color:#ee5921;}
  
  .box {}.box-inner {}.box h2.title {}.box .content {}
  .error {color:#c00;}.more-link {text-align:right;}#user-login-form {text-align:left;}tr.even,tr.odd {border-bottom:none;padding:0;}tr.even{ }tr.odd{ }li a.active {color:#000;}
  .form-item,
  .form-checkboxes,.form-radios{margin:1em 0;}.form-item input.error,
  .form-item textarea.error,.form-item select.error{border:2px solid #c00;}.form-item label {display:block;font-weight:bold;}.form-item label.option {display:inline;font-weight:normal;}.form-required {color:#c00;}.form-item .description {font-size:0.85em;}.form-checkboxes .form-item,
  .form-radios .form-item{margin:0.4em 0;}.form-submit {}.container-inline div,.container-inline label,.container-inline .form-item {display:inline;}.tips {margin:0;padding:0;font-size:0.9em;}
  
  .section-admin tbody{border-top:1px solid #ccc;}.section-admin th{text-align:left;padding-right:1em;border-bottom:3px solid #ccc;}.section-admin tbody th{border-bottom:1px solid #ccc;}.section-admin thead th{text-align:left;padding-right:1em;border-bottom:3px solid #ccc;}.section-admin tr.even,.section-admin tr.odd{background-color:#eee;border-bottom:1px solid #ccc;padding:0.1em 0.6em;}#home .more-link{text-align:right;}#home .more-link a{padding:0 0 0 20px;background:url(http://april.org/sites/default/themes/zen_april/images/link_more_swoosh.gif) left no-repeat;font-size:12px;font-weight:bold;color:#005184;}#home .more-link a:hover{color:#ee5921;}#home .panel-pane,#home .pane-content .view
#home .content .view{margin:0 0 20px 0;}#home .item-list ul li{padding:2px 0 3px 0;color:#80bacf;}#home .item-list ul li .view-item{font-size:11px;color:#a0a0a0;}#home .item-list ul li a{font-size:14px;font-weight:bold;color:#005184;}#home .panel-pane{margin:0 0 20px 0;padding:0 0 5px 0;}#home .panel-panel.panel-col-middle .inside .panel-pane{background:url(http://april.org/sites/default/themes/zen_april/images/home_citation_bg.gif) center no-repeat;}#home .panel-panel.panel-col-middle .inside .panel-pane .quotes-author{font-size:12px;font-style:italic;color:#646464;}#home .panel-panel.panel-col-middle .inside .panel-pane .quotes-quote p,#home .panel-panel.panel-col-middle .inside .panel-pane .quotes-author p{margin:10px 0;padding:0;}.quotes-author,.quotes-quote{margin:0;padding:0;}#home a.tagadelic{line-height:28px;}#home #presentation{padding:10px 17px;background:url(http://april.org/sites/default/themes/zen_april/./images/home_presentation_bg.gif) top repeat-x #f2f5f6;border-bottom:1px solid #e6ebed;}#home #presentation p{margin:0;padding:0 0 0 0;

	color:#013a50;}#home #adherer{padding:15px;background:#f2f5f6;border:1px solid #e6ebed;-moz-border-radius:10px;font-weight:bold;font-size:12px;}#home #adherer h2{margin:0 0 10px 0;padding:0;font-size:18px;font-weight:bold;color:#005184;}#home #adherer .more_link{margin-top:12px;}#home #adherer p{margin:0;padding:5px;color:#013a50;font-weight:normal;}#home #campagne{padding:15px;background:#f2f5f6;border:1px solid #e6ebed;-moz-border-radius:10px;font-weight:bold;font-size:12px;}#home #campagne h2{margin:0 0 10px 0;padding:0;font-size:18px;font-weight:bold;color:#005184;}#home #campagne .more_link{margin-top:12px;}#home #campagne p{margin:0;padding:5px;color:#013a50;font-weight:normal;}#home #alaune{padding:15px;background:#f2f5f6;border:1px solid #e6ebed;
	font-weight:bold;font-size:12px;}#home #alaune h2{margin:0 0 10px 0;padding:0;font-size:18px;font-weight:bold;color:#005184;}#home #alaune .more_link{margin-top:12px;}#home #alaune p{margin:0;padding:5px;color:#013a50;font-style:italic;}#home #alaunetable{padding:15px;background:#f2f5f6;border:1px solid #e6ebed;
	
	font-size:12px;}#home #alaunetable h2{margin:0 0 10px 0;padding:0;font-size:18px;font-weight:bold;color:#005184;}#home #alaunetable .more_link{margin-top:12px;}#home #alaunetable p{margin:0;padding:5px;color:#013a50;font-style:italic;}#home #alaunetable #alaunetablegauche{float:left;width:50%;}#home #alaunetable #alaunetabledroite{float:right;width:47%;}#main #home #barreprogression img{display:inline;}.panel-col-first .inside{padding-right:10px;}.panel-col-last .inside{padding-left:10px;}#main #content .pane-content img.regular,#main #content .content img.regular{display:inline;margin:0px;padding:0px;border:none;background:none;}#main #content .pane-content .quotes-citation img,#main #content .content .quotes-citation img{float:left;display:inline;margin-left:0px;margin-top:0px;}#main #content .content .view-data-node-created{}#main #content img.trombi{border:solid 1px black;margin-left:0px;margin-right:12px;margin-top:0px;float:left;}#main #content td.trombi{padding:12px}#main .panel-col-top{margin-top:15px;}#main #bannieres-panel{text-align:center;vertical-align:50%;}
.graphe{margin:0 195px;width:300px;border:1px solid #2D4779;padding:2px;}.graphe .barre{display:block;background:#ff7200;text-align:center;color:#333;height:1.5em;line-height:1.5em;}
#va-outer{height:400px;overflow:hidden;position:relative;}#va-outer[id]{display:table;position:static;}#va-middle{position:absolute;top:50%;}
#va-middle[id]{display:table-cell;vertical-align:middle;position:static;}#va-inner{position:relative;top:-50%}


.fg{float:left;}.fd{float:right;}.fc{display:block;margin-left:auto;margin-right:auto;}
.ag{text-align:left;}.ad{text-align:right;}.ac{text-align:center;}
.c1{margin:0px 20px;padding:10px;border:1px solid #999;width:400px;background-color:#EFEFF7;}.c2{margin:0px 20px;padding:20px;border:1px solid #999;width:300px;background-color:#F0F3F4;}.c3{margin:0px 20px;padding:20px;border:1px solid #999;width:70%;min-height:225px;background-color:#FEFEFE;}
.cadrefixe h2,.cadrefixe h3,.cadrefixe h4,.cadrefixe .contenu,.cadrefixe .contenu p{margin:0;}.cadrefixe .contenu table.forme{width:100%;margin:0;padding:0;border:0;}.cadrefixe h2{background-color:#679FB4;text-align:center;}.cadrefixe h3{background-color:#88B4C4;text-align:center;}.cadrefixe .contenu{background-color:#EFF2F3;}.cadrefixe{background-color:#EFF2F3;
	margin:7px 5px;border:1px solid #005184;}.intro{border:1px dashed #005184;text-align:center;}.en_savoir_plus{text-align:left;}.cadrefixe .contenu,.intro{padding:2px;}



.cadrefixe h2,.cadrefixe h3,.cadrefixe h4,.cadrefixe .contenu,.cadrefixe .contenu p{margin:0;}.cadrefixe-mad .contenu-mad table.forme{width:100%;margin:0;padding:0;border:0;}.cadrefixe-mad .contenu-mad td.forme{padding-left:5px;padding-right:5px;padding:12px;}.cadrefixe-mad h2{
	background-color:#88B4C4;background-color:#CED1FA;
	
	
	text-align:center;}.cadrefixe-mad h3{background-color:#88B4C4;text-align:center;}.cadrefixe-mad .contenu{background-color:#EFF2F3;}.cadrefixe-mad{background-color:#EFF2F3;
	margin:7px 5px;border:1px solid #005184;}.intro-mad{border:1px dashed #005184;text-align:center;}.en_savoir_plus-mad{text-align:left;}.cadrefixe-mad .contenu,.intro{padding:2px;}



.cadrefixe-mad h2{margin-top:0px;}.contenu-mad{padding:2px 5px;}.bloc-w{padding:0;margin:0;border:none;float:left;}.largeur100{width:100%;}.largeur80{width:80%;}.largeur75{width:75%;}.largeur66{width:66%;}.largeur60{width:60%;}.largeur50{width:50%;}.largeur40{width:40%;}.largeur34{width:34%;}.largeur33{width:33%;}.largeur25{width:25%;}.largeur20{width:20%;}.bloc-separation{padding:0;margin:0;border:none;clear:both;}


.centre-toc .toc{margin-left:auto;margin-right:auto;}.petites-marges{padding-left:2px;padding-right:2px;}


.toc-list{padding:0 0 0 11px;}.field-field-eventdate .field-item label{color:#999;}
.quotes-view-link{float:none !important;}.quotes-citation{float:left;}.quotes-more-link{text-align:right;}.quotes-more-link a{padding:0 0 0 20px;background:url(http://april.org/sites/default/themes/zen_april/images/link_more_swoosh.gif) left no-repeat;font-size:12px;font-weight:bold;color:#005184;}.quotes-more-link a:hover{color:#ee5921;}




#tablist{padding-left:0px;margin-bottom:1px;font-weight:600;margin-left:16px;margin-right:10px;}#tablist ul{margin:0px;padding:0px;}#tablist li{list-style:none;display:inline;margin:0px;padding:0px;}#tablist li a{padding:3px 0.5em;margin:0px;border:1px solid #b8c6d6;}#tablist li a.unselected{text-decoration:none;}#tablist li a:link,#tablist li a:visited{color:#b8c6d6;}#tablist li a.current{background:#b8c6d6;border-bottom:1px solid #b8c6d6;color:black;}#tabcontentcontainer{padding:5px;border:1px solid #b8c6d6;margin-top:3px;margin-left:10px;margin-right:10px;}.tabcontent{display:none;}.tabcontent form{margin-left:10px;margin-right:10px;}.button{border:1px solid rgb(181,197,212);background:url(http://april.org/sites/default/themes/dtcimages/now.png) no-repeat rgb(246,246,246);background-position:3px 3px;padding:6px;margin:0px;padding-left:32px;}.button a{text-decoration:none;}input,textarea{border:1px solid #9e9e9e;}input[type="text"],textarea{width:100%;}.supertable{border-collapse:collapse;margin-left:1em;margin-right:1em;text-align:center;}.supertable th{background-color:rgb(246,246,246);border:1px solid rgb(181,197,212);padding:6px;margin:0px;text-align:center;}.supertable td{border:1px solid rgb(181,197,212);padding:6px;margin:0px;}.regular{margin:0 10px 0 0;padding:0;border:0;}img{background:0;border:0px;padding:0;}.form,.loginform{border:1px solid rgb(181,197,212);background-color:rgb(246,246,246);padding:12px;}.form-entry{margin-bottom:1em;}.form-label{font-weight:bold;margin-bottom:0.5em;}.form-control{}.form .footnote{margin-bottom:1.5em;}.form input[type="text"],.form input[type="password"]{}textarea{padding:0.2em;width:100%;font:13px Arial,Helvetica,sans-serif;}hr{height:1px;padding:0px;color:rgb(181,197,212);background-color:rgb(181,197,212);border:0;margin-top:12px;margin-bottom:12px;}.inline-photo{border:1px solid rgb(181,197,212);background-color:rgb(246,246,246);padding:6px;float:right;}
.message{margin-bottom:1.8em;}.clearer{clear:both;}.message .close{float:right;margin-right:-6px;margin-top:-6px;}.message #messagetext{visibility:hidden;display:none;}.message .readmore{float:right;}.message .readmore a{text-decoration:none;}
.icon-list{margin-top:1em;margin-left:1em;font-size:smaller;text-align:center;}.icon{width:80px;height:80px;padding:12px;float:left;
    text-align:center;}.icon img{margin-bottom:0.2em;}.icon a{text-align:center;
    text-decoration:none;color:black;}.supertable td{}
