h1 {
  margin: 1em auto;
  font-size: xx-large;
}
h2 {
  margin: 1em auto;
  font-size: large;
}
#sidebar-right {
  margin-top: 90px;
  min-height: 10em;
  padding-top: 5em;
}
#shortcuts input {
  width: 2em;
  color: black;
  padding: 5px;
  display: none;
  background-color: white;
}
#container {
  width: 100%;
  margin: auto auto;
  min-width: 20em;
  max-width: 80em;
}
form, #media-c, #media, video, audio {
  margin: auto;
  display: block;
  max-width: 100%;
}
#media { border: outset thin gray; }
input[type='text'] {
  width: 35em;
  color: black;
  background: white;
}
form { padding-right: 220px; }
form p { margin: 1em 0; }
.help { margin-top: 0; }
textarea {
  color: black;
  height: 30em;
  margin: 3px auto;
  max-width: 100%;
  background: #ffd;
}
#shortcuts {
  float: right;
  width: 190px;
  padding: 10px;
  margin-top: 2em;
}
#footer {
  clear: both;
  padding: 1em;
}
dt {
  float: left;
  width: 15em;
  text-align: right;
  font-weight: bolder;
  margin-right: 1em;
}
.new_transcription { float: right; }
